.App {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Margin {
    background-color: black;
}

.Highlighted {
    color: blue;
}

.Highlighted:hover {
    text-decoration: underline;
}

.Landing-container {
    height: 100vh;
    background-image: url('https://i.imgur.com/fj3xgXA.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.Message-container {
    width: 100%;
    height: 60vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Message-board {
    text-align: left;
}

.Prompt-container {
    text-align: center;
    width: 100%;
    height: 60vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Home-uncollapsed {
    display: grid;
    grid-template-columns: 10% 1fr 4fr 10%;
}

.Home-collapsed {
    display: grid;
    grid-template-columns: 10% 7px 4fr 10%;
}

.Nav-wrapper {
    height: 100vh;
    position: sticky;
    top: 0px;
}

.Nav-collapse {
    height: 50px;
}

.Navbar-uncollapsed {
    height: 90vh;
    background-color: orange;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.Navbar-collapsed {
    display: none;
}

.My-details-container {
    display: grid;
    grid-template-rows: 110px 50px;
    background-color: brown;
}

.My-details-images {
    margin: 20px 0px 10px 10px;
}

.My-details-cover-image {
    width: 100%;
    height: 70px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.My-details-profile-image {
    display: block;
    width: 70px;
    height: 70px;
    object-fit: cover;
    position: relative;
    top: -73px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.My-details-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: green;
}

.My-details-greeting {
    padding-left: 10px;
}

.Nav-container {
    height: 25vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Nav-link {
    display: block;
    border: 2px solid coral;
    height: 100%;
}

.Feed-container {
    height: 300vh;
    background-color: purple;
}

.Explore-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: sticky;
    top: 0px;
    background-color: gray;
    z-index: 2;
}

.Explore-link {
    margin: 0px 10px;
    text-decoration: none;
}

.Explore-link:hover {
    text-decoration: underline;
}


.Item-details-collapsed {
    display: none;
}

.Item-details-expanded {
    height: 50vh;
    background-color: pink;
    position: sticky;
    top: 0px;
}

.Item-container-expanded {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: sticky;
    top: 0px;
    background: white;
}
.Item-container-collapsed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: sticky;
    top: 50vh;
    background: white;
}

.Item-header-container {
    padding-left: 10px;
}

.Item-sort-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

.Item-sort-listbox {
    margin-right: 10px;
}

.Item-back-arrow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.Chevron {
    margin-top: 0px;
    height: 50px;
    width: 50px;
    color: gray;
}

.Trending-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.Item-grid {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}



.Item-card {
    height: 20vh;
    width: 96%;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid gray;
    margin: 5px;
}

.Item-card:hover {
    animation-name: item-bounce;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.Item-image {
    width: 100%;
    height: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.Item-name-container {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: -10%;
}

.Blue-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 20px;
    background-color: blue;
}

.Red-bar {
    height: 20px;
    background-color: red;
}

.Blue-bar-small {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 7px;
    background-color: blue;
}

.Red-bar-small {
    height: 7px;
    background-color: red;
}

.Post-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Post-card {
    width: 80%;

}

.Account-cover-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.Account-profile-image {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    /* position: fixed; */
    margin-top: -250px;
    padding-left: 20px;
    border: 10px solid white;
}

.Post-profile-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.Comment-profile-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 3px;
}

@keyframes item-bounce {
    0% {transform: translateY(0)}
    100% {transform: translateY(-10px)}

}