.App {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #12181ff7;
    color: rgb(212, 212, 212);
}

.Margin {
    background-color: #12181ff7;
}

.Highlighted {
    color: rgb(82, 106, 200);
}

.Highlighted:hover {
    text-decoration: underline;
}

.Landing-container {
    height: 100vh;
    /* background-image: url('https://i.imgur.com/fj3xgXA.jpg');
    background-repeat: no-repeat;
    background-size:cover; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}


.Toggle-landing {
    background-color: #11181fe2;
    color: rgb(194, 194, 194);
    border:  1px solid rgb(90, 90, 90);
    margin: 30px;
    padding: 5px;
    border-radius: 5px;
}

.Message-container {
    width: 100%;
    height: 60vh;
    background-color:#12181ff7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.Message-board {
    text-align: left;
    font-size: 12px;
    padding-right: 40px;
}

.Message-image {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 40%;
    object-fit: cover;
}

.Prompt-container {
    text-align: center;
    width: 100%;
    height: 60vh;
    background-color: rgb(54, 67, 120);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 20px;
}

.Post-name {
    text-align: center;
}

.Create-channel-container {
    padding-left: 30px;
}

.Home-uncollapsed {
    display: grid;
    grid-template-columns: 10% 1fr 4fr 10%;
}

.Home-collapsed {
    display: grid;
    grid-template-columns: 10% 7px 4fr 10%;
}

.Nav-wrapper {
    height: 100vh;
    position: sticky;
    top: 0px;
}

.Nav-collapse {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #12181ff7;
    height: 50px;
}

.Navbar-uncollapsed {
    height: 95vh;
    background-color: #12181ff7;
    border: 1px solid rgb(90, 90, 90);
    border-top-left-radius: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.Navbar-collapsed {
    display: none;
}

.My-details-container {
    display: grid;
    grid-template-rows: 110px 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid rgb(90, 90, 90);

}

.My-details-images {
    margin: 20px 0px 00px 10px;
}

.My-details-cover-image {
    width: 100%;
    height: 70px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgb(90, 90, 90);
}

.My-details-profile-image {
    display: block;
    width: 70px;
    height: 70px;
    object-fit: cover;
    position: relative;
    top: -75px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.My-details-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.My-details-greeting {
    padding-left: 20px;
    padding-bottom: 20px;
}

.Nav-container {
    margin: 10px 0px 0px 10px;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Nav-link {
    display: block;
    padding: 10px;
    height: 100%;
    text-decoration: none;
    color: rgb(194, 194, 194);
}

.Nav-link:hover {
    color: rgb(82, 106, 200);
    text-decoration: underline;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(31, 38, 67);
}

.Explore-nav {
    background-color: #12181ff7;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
    position: sticky;
    top: 0px;
    z-index: 2;
    width: 100%;
}

.Explore-link {
    margin: 15px;
    text-decoration: none;
    color: rgb(194, 194, 194);
}

.Explore-link:hover {
    color: rgb(82, 106, 200);
    text-decoration: underline;
}


.Item-details-collapsed {
    display: none;
}

.Item-details-expanded {
    height: 50vh;
    background-color: #12181ff7;
    position: sticky;
    top: 0px;
}

.Item-container-expanded {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: sticky;
    top: 0px;
}
.Item-container-collapsed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: sticky;
    top: 50vh;
}

.Item-header-container {
    padding-left: 10px;
}

.Item-sort-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

.Item-sort-listbox {
    margin-right: 10px;
}

.Item-back-arrow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.Chevron {
    margin-top: 0px;
    height: 50px;
    width: 50px;
   color: rgb(194, 194, 194);
}

.Chevron:hover {
    color:rgb(64, 81, 152);
}

.Trending-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.Item-grid {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}



.Item-card {
    height: 20vh;
    width: 96%;
    margin: 5px;
}

.Item-card:hover {
    animation-name: item-bounce;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.Item-image {
    width: 100%;
    height: 80%;
    border-radius: 5px;
    border: 1px solid rgb(51, 51, 51);
    object-fit: cover;
}

.Item-name-container {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -10%;
    margin-left: 5px;
}

.Page-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 10px;
    border-top: 1px solid rgb(51, 51, 51);
    border-right: 1px solid rgb(51, 51, 51);
}

.Page-header {
    width: 98%;
    height: 60vh;
    border-right: 1px solid rgb(51, 51, 51);
    border-bottom: 1px solid rgb(51, 51, 51);
    border-left: 1px solid rgb(51, 51, 51);
    border-radius: 15px;
    background-color: #13181F;
    text-align: center;
}

.Page-header-image {
    border-top: 1px solid rgb(51, 51, 51);
    border-bottom: 1px solid rgb(51, 51, 51);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.Secondary-page-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 10px;
    border-top: 1px solid rgb(51, 51, 51);
    border-right: 1px solid rgb(51, 51, 51);
}

.Secondary-page-header {
    width: 98%;
    height: 70vh;
    border-right: 1px solid rgb(51, 51, 51);
    border-bottom: 1px solid rgb(51, 51, 51);
    border-left: 1px solid rgb(51, 51, 51);
    border-radius: 15px;
    background-color: #13181F;
    text-align: center;
    display: grid;
    grid-template-rows: 80% 40px 1fr;
}

.Secondary-page-header-image {
    border-top: 1px solid rgb(51, 51, 51);
    border-bottom: 1px solid rgb(51, 51, 51);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Secondary-page-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: left;
    padding-left: 10px;
    min-height: 15%;
}

.Secondary-page-about {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.Secondary-page-name {
    height: 70%;
}

.Channel-name {
    padding-left: 30px;
}

.Channel-details-container {
    display: flex;
    flex-direction: column;
}

.Channel-header-image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-top-right-radius: 15px;

}
.Username {
    font-size: x-small;
}

.Edit-actions {
    display: flex;
}

.Secondary-page-username {
    padding-top: 5px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}
.Disband {
    padding: 0px;
    margin: 0px;
    font-size: x-small;
}

.Disband:hover {
    color: rgb(82, 106, 200);
    text-decoration: underline;
}

.Link {
   font-size: small;
   padding-left: 10px;
}

.Link:hover {
    color: rgb(82, 106, 200);
    text-decoration: underline;
}

.Map-container {
    padding-top: 5px;
    width: 98%;
}

.Map-title {
    padding-left: 15px;
}

.Bar-large {
    margin-top: 0px;
    border-bottom: 1px solid rgb(51, 51, 51);
    height: 30%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.Red-blue-container {
    display: grid;
    border-bottom: 1px solid rgb(51, 51, 51);
    grid-template-columns: 60px 1fr 60px
}

.Indigo-container {
    height: 20px;
    background-color: #1f2c5d;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Bar-click-large {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1A1F26;
    height: 20px;
}

.Red:hover {
    background-color: rgb(166, 71, 71);
    color:rgb(104, 35, 35);
}

.Blue:hover {
    background-color: rgb(64, 81, 152);
    color: rgb(43, 56, 108);
}


.Bar-score-large {
    margin-top: 0px;
}

.Blue-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 20px;
    background-color: rgb(82, 106, 200);
}

.Red-bar {
    height: 20px;
    background-color: rgb(200, 82, 82);
}

.Blue-bar-small {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 7px;
    background-color: rgb(82, 106, 200);
}

.Red-bar-small {
    height: 7px;
    background-color: rgb(200, 82, 82);
}

.Bar-small {
    margin-top: 0px;
    border-bottom: 1px solid rgb(51, 51, 51);
    height: 14px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.Red-blue-container-small {
    display: grid;
    border-bottom: 1px solid rgb(51, 51, 51);
    grid-template-columns: 1fr;
    border-radius: 3px;
}

.Indigo-container-small {
    height: 7px;
    background-color: #1f2c5d;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Bar-click-small {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1A1F26;
    height: 7px;
}

.Follow-container {
    display: flex;
    justify-content: flex-end;
}

.Follow-count-container {
    margin-right: 20px;
    height: 70%;
}


.Follow-btn {
    border-bottom-right-radius: 15px;
    color:rgb(194, 194, 194);
    background-color: #232e3bf7;
    border: 0px;
    width: 60px;
    height: 100%;
}

.Follow-btn:hover {
    background-color: #1A1F26;
}

.Post-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Post-card {
    width: 80%;
    padding: 20px;
    margin: 10px;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 10px;

}


.Search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WIP {
    margin-top: 70px;
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px;
}

.Create-title {
    padding-left: 15px;
}

.Post-list-container {
    margin-top: 30px;
    padding: 0px 15px;
}

.Post-content-container {
    margin: 5px;
    padding: 10px;
    background-color: #11181fe2;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 10px;
    width: 97%;

}

.Post-header {
    display: grid;
    grid-template-columns: 1fr 3fr
}

.Post-profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Post-actions-container {
    display: flex;
    justify-content: flex-end;
}

.Post-button {
    background-color: #11181fe2;
    color: rgb(194, 194, 194);
    border:  1px solid rgb(90, 90, 90);

}

.Post-button:hover {
    background-color: #1f2c5d;

}

.Post-btn {
    background-color: #11181fe2;
    color: rgb(194, 194, 194);
    border:  1px solid rgb(90, 90, 90);
    width: 50px;
    border-radius: 5px;
    margin: 3px;

}

.Post-btn:hover {
    background-color: #1f2c5d;

}

.Post-content-content {
    display: block;
    width: 100%;
}

.Post-content-info {
    text-align: left;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.Post-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.Post-video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.Post-content-type {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    text-align: center;
}

.Post-type-buttons {
    display: flex;
}

.Post-bottom {
    margin: 5px;
    padding: 5px;
}

.Account-cover-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.Account-profile-image {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -250px;
    padding-left: 20px;
    border: 10px solid white;
}

.Post-update-form {
    display: block;
    width: 98%;
    margin-bottom: 5px;
    background-color:#1A1F26;
    color:rgb(194, 194, 194);
    padding: 5px;
    border-radius: 10px;
    border:  1px solid rgb(90, 90, 90);
}

.New-post-container {
    min-width: 600px;
}

.Channel-actions-container {
    padding-right: 15px;
    padding-top: 20px;
    display: flex;
    flex-direction: row-reverse;
}


.Post-label {
    font-size: small; 
}

.Post-profile-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.Reply-container {
    margin-top: 10px;
    margin-left: 5%;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    border:  1px solid rgb(90, 90, 90);
}

.Comment-profile-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 3px;
}

.Library-container {
    padding-left: 20px;
}

.Edit-profile-container {
    padding-left: 15px;
    padding-top: 15px;
    border-right:  1px solid rgb(90, 90, 90);
    border-bottom:  1px solid rgb(90, 90, 90);
    border-left:  1px solid rgb(90, 90, 90);
}

.Edit-public {
    width: 95%;
    border-radius: 10px;
    border:  1px solid rgb(90, 90, 90);
    background-color: #11181F;
    padding-left: 10px;
    padding-bottom: 15px;
    margin-top: 36px;
}

.Edit-personal {
    width: 95%;
    border-radius: 10px;
    border:  1px solid rgb(90, 90, 90);
    background-color: #11181F;
    padding-left: 10px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Edit-actions-container {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 70px;
    padding-bottom: 30px;
}

.Profile-header {
    font-size: medium;
    margin: 0px 20px;
    border-right:  1px solid rgb(90, 90, 90);
    border-bottom:  1px solid rgb(90, 90, 90);
    border-left:  1px solid rgb(90, 90, 90);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.Profile-name {
    text-align: center;
}

.Profile-container {
    margin: 0px 20px;
    padding: 10px;
}

.Edit-profile-label {
    font-size: small;
    padding-left: 10px;
}

.Account-container {
    padding-left: 30px;
}

.Signed-out-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Sign-out-message {
    font-size: large;
}

@keyframes item-bounce {
    0% {transform: translateY(0)}
    100% {transform: translateY(-10px)}

}

@media screen and (max-width: 600px) {
    .New-post-container {
        width: 100%;
    }
}